services:
  media_transcriber:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/pranavnbapat/media_transcriber:latest
    container_name: media_transcriber
    restart: unless-stopped
    environment:
      - VOSK_MODELS_DIR=/models/vosk
      - WHISPER_WARM=1
      - WHISPER_WARM_MODEL=large-v1
      - HF_HOME=/cache/huggingface
      - TRANSFORMERS_CACHE=/cache/huggingface

      - OMP_NUM_THREADS=4
      - OPENBLAS_NUM_THREADS=4
      - MKL_NUM_THREADS=4
      - NUMEXPR_NUM_THREADS=4
      - WHISPER_ALLOWED_MODELS=large-v1,medium,small
    volumes:
      - ./data/vosk_models:/models/vosk:ro
      - ./cache/huggingface:/cache/huggingface
#    networks:
#      - traefik-net
#    labels:
#      - "traefik.enable=true"
#      - "traefik.http.routers.api-opensearch.rule=Host(`media-transcriber.nexavion.com`)"
#      - "traefik.http.routers.api-opensearch.entrypoints=websecure"
#      - "traefik.http.routers.api-opensearch.tls=true"
#      - "traefik.http.routers.api-opensearch.tls.certresolver=letsencrypt"
#      - "traefik.http.services.api-opensearch.loadbalancer.server.port=10000"
    healthcheck:
      test: [ "CMD-SHELL", "curl -fsS http://localhost:8000/health >/dev/null || exit 1" ]
      interval: 30s
      timeout: 5s
      retries: 5
    cpus: "4.0"
    mem_limit: "8g"
    memswap_limit: "8g"

#networks:
#  traefik-net:
#    external: true
